#calculator{
	width: 50%;
	margin: auto;
	overflow: hidden;
	text-align: center;
	background: lightgrey;
}
#screen{
	width: 95%;
	height: 15vh;
	margin: auto;
	margin-top: 20px;
	background: black;
}
#display{
	margin: 0 20px;
	color: white;
	line-height: 15vh;
	vertical-align: middle;
	font-size: 50px;
	text-align: left;
	letter-spacing: 5px;
	font-family: monospace;
}
#buttons{
	width: 100%;
}
#numbers{

}

.number{
	width: 7vw;
	height: 14vh;
	font-size: 200% !important;
	margin: 10px;
}
.operation{
	width: 7vw;
	height: 14vh;
	margin: 10px;
	font-size: 200% !important;
	background: grey !important;
}
#equals{
	background: orange !important;
}
#clear{
	background: #00FF00 !important;
}
