#screen{
	width: 95%;
	height: 100px;
	margin: auto;
	background: black;
}
#display{
	margin: 10px;
	color: white;
	line-height: 100px;
	vertical-align: middle;
	font-size: 50px;
	text-align: left;
	letter-spacing: 5px;
	font-family: monospace;
}
#calculator{
	width: 50%;
	margin: auto;
	overflow: hidden;
	text-align: center;
	background: lightgrey;
}
#numbers{
	width: 80%;
	float: left;
}
#operations{
	width: 20%;
	float: right;
}
.number{
	width: 20%;
	height: 100px;
	margin: 10px;
	font-size: 200%
}
.operation{
	width: 60%;
	height: 75px;
	margin: 10px;
	font-size: 200%;
	background: grey;
}
#equals{
	background: orange;
}
